@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font */
body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for overflow-x-auto, but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
